<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="senderEmail" value="foo@mail.com"/>
		<add key="gmailSmtp" value="smtp.gmail.com"/>
		<add key="hotmailSmtp" value="smtp.live.com"/>
		<add key="office365Smtp" value="smtp.office365.com"/>
	</appSettings>
	<connectionStrings>
		<add name="InMemory" connectionString="Data Source=:memory:;Version=3;New=True;"/>
	</connectionStrings>
</configuration>